aws-cdk.core>=1.92.0
aws-cdk.aws-apigateway>=1.92.0
aws-cdk.aws-certificatemanager>=1.92.0
aws-cdk.aws-cloudfront>=1.92.0
aws-cdk.aws-cloudfront-origins>=1.92.0
aws-cdk.aws-iam>=1.92.0
aws-cdk.aws-kms>=1.92.0
aws-cdk.aws-lambda>=1.92.0
aws-cdk.aws-logs>=1.92.0
aws-cdk.aws-route53>=1.92.0
aws-cdk.aws-route53-targets>=1.92.0
aws-cdk.aws-s3>=1.92.0
aws-cdk.aws-s3-deployment>=1.92.0
